{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "trailingComma": "es5",
    "importOrder": ["^react(.*)$", "^@mui/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["jsx", "typescript", "classProperties"],
    "endOfLine": "auto"
}
